* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
.logo
{
    position: relative;
    left: 70px;
    top: 40px;
    
}
.navitems hr {
    width: 20%;
    position: relative;
    left: 400px;
    height: 0.5px;
    color: #000;
    background-color: #000;
}
.nav-item {
    display: inline-block;
    list-style-type: none;
    margin: 0 30px; 
    position: relative;
    left: 760px; 
    bottom: 12px; 
    color: #a9b0b1;

}.nav-item span {
    color: rgb(52, 51, 51);
    font-weight: 600;
}
.icons {
    list-style-type: none;
    padding-bottom: 20px;
    padding-top: 0px;
    position: relative;
    left: 1190px;
    top: 20px;
    margin: 15px;
}
.top {
    position: absolute;
    top: 170px;
    left: 540px;
    width: 100px;
    height: 250px;
}
.c1  {
    position: relative;
    bottom: 90px;
    right: 100px;
    color: transparent;
    font-size: 60px;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000;
} 
.c2 {
    position: relative;
    left: 20px;
    font-size: 60px;
    bottom: 120px;
    color: #000;
}
.para {
    position: relative;
    bottom: 210px;
    left: 350px;
    font-size: 30px;
    color: #a9b0b1;
}
.btn {
    position: relative;
    bottom: 180px;
    left: 450px;
    color: #fff;
    width: 100px;
    height: 30px;
}
.btn button {
    padding: 10px 40px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(70, 70, 70);
    border: none;
}
.img {
    display: flex;
    flex-direction: row;
}
.bi {
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: -1;
    left: 0;
} 
.items {
    position: absolute;
    bottom: -50px;
    left: 460px;
}
.item {
    padding-bottom: 0px;
    color: #a9b0b1;
    list-style-type: none;
    line-height: 2.65;
}
.item p {
    position: relative;
    left: 40px;
    bottom: 8px;
}
.bold-item  {
    color: #000;
}
.items ul .forline {
    border-left: 1px solid #a9b0b1;
    position: absolute;
    left: 13%;
    bottom: 0;
    height: 210px;
}
.items ul li span {
    height: 10px;
    width: 10px;
    background-color: #bbb ;
    border-radius: 50%;
    display: inline-block;
    vertical-align: center;
    position: absolute;
    left: 8%;
}
.bold-item .fordot {
    background-color: #000;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 6%;
}
.dance {
    position: absolute;
    left: 680px;
    top: 330px;
}  
 .imgdance > img { 
    width: 350px;
    position: absolute;
    top: 150px;
} 
.qm {
    position: relative;
    top: 50px;
}
.para2 {
    position: relative;
    top: 55px;
    font-size: 13px;
}
.arrow {
    position: relative;
    left: 1140px;
    top: 170px;
}
@media screen and (max-width:1250px){
   .navitems{
    position: relative;
    right: 100px;
   }
   hr{
    display: none;
   }
   .btn1{
    position: relative;
    right: 100px;
   }
   .arrow {
    position: relative;
    left: 1085px;
   }
}
@media screen and (max-width:1150px){
    .navitems{
     position: relative;
     right: 150px;
    }
    .btn1{
     position: relative;
     top: 20px;
    }
    .arrow {
     position: relative;
     left: 1035px;
    }
    .top {
        position: absolute;
        left: 480px;
        width: 580px;
    }
    .dance {
        position: absolute;
        left: 640px;  
    } 
    
    .items {
        position: absolute;
        left: 420px;
    }
 }
 @media screen and (max-width:1100px){
    .bi img {
        width: 300px;
    } 
    .navitems{
     position: relative;
     right: 250px;
    }
    .btn1{
     position: relative;
     top: 70px;
     right: 140px;
    }
    .arrow {
     position: relative;
     left: 980px;
    }   
    .c1  {
        font-size: 50px;
    } 
    .c2 {
        font-size: 50px;
    }
    .para {
        font-size: 20px;
        position: relative;
        bottom: 160px;
        left: 300px;
    }
    .dance {
        position: absolute;
        left: 600px;  
    } 
    .qm svg {
       width: 30px;
    }
    .para2 {
        font-size: 11px;
    }
    .imgdance > img { 
        width: 300px;
    }
    .items {
        position: absolute;
        left: 380px;
    }
    .item p {
       font-size: 15px;
    } 
 }
 @media screen and (max-width:1000px){
    .icons {
        display: inline;
        margin: 0 10px;
        position: relative;
        left: 950px;
    }
    .navitems{
     position: relative;
     right: 440px;
    }
    .nav-item{
        margin: 0 10px;
    }
    .btn1{
     position: relative;
     top: 80px;
     right: 400px;
    }
    .arrow {
 display: none;
    }   
    .c1  {
        font-size: 40px;
        position: relative;
        bottom: 80px;
        left: -150px;
    } 
    .c2 {
        font-size: 40px;
        position: relative;
        bottom: 90px;
        left: -50px;
    }
    .para {
        font-size: 20px;
        position: relative;
        bottom: 125px;
        left: 160px;
    }
    .btn button {
        padding: 10px 30px;
        font-size: 14px;
    }
    .items ul .forline {
        border-top: 1px solid #a9b0b1;
        width: 510px;
        position: absolute;
        left: -8%;
        bottom: 30%;
        border-left: none;
    }
    .item {
        display: inline-block;
        margin: 0 14px;
        position: relative;
        left: -80px;
        bottom: 220px;
        color: #000;
    }
    .fordot {
        display: inline-block;
        margin: 2px 18px;
    }
    .items ul li span {
        position: absolute;
        left: 10%;
        top: 12%;
        width: 8px;
        height: 8px;
    }
    .bold-item .fordot {
        background-color: #bbb;
        width: 8px;
        height: 8px;
    }
    .qm {
        position: relative;
        top: 150px;
        left: -250px;
    }
    .para2 {
        position: relative;
        top: 155px;
        left: -250px;
        font-size: 11px;
    } 
    .dance {
        position: absolute;
        left: 580px;
        top: 300px;
    }  
    .imgdance > img { 
        width: 250px;
        position: absolute;
        top: 150px;
        right: -10px;
    } 
}
@media screen and (max-width:800px){
    .btn button {
        padding: 10px 20px;
        font-size: 12px;
    }
    .btn1{
        position: relative;
        top: 100px;
        right: 380px;
       }
       .para {
        font-size: 20px;
        position: relative;
        bottom: 85px;
        left: 70px;
    }
}
@media screen and (max-width:700px){
    .icons {
        display: inline;
        margin: 0 10px;
        position: relative;
        left: 850px;
    }
    .bi img {
        width: 200px;
    }
    .navitems{
     position: relative;
     right: 570px;
    }
    .nav-item{
        margin: 0 15px;
    }
    .btn1{
        position: relative;
        top: 170px;
        right: 580px;
       }  
    .c1  {
        font-size: 35px;
        position: relative;
        bottom: 10px;
        left: -220px;
    } 
    .c2 {
        font-size: 35px;
        position: relative;
        bottom: 30px;
        left: -140px;
    }
    .para {
        font-size: 20px;
        position: relative;
        bottom: 25px;
        left: -100px;
    }
    .items ul .forline {
        border-top: 1px solid #a9b0b1;
        position: absolute;
        bottom: 10%;
    }
    .bi {
        position: absolute;
        top: 100px;
        left: 40px;
    } 
    .bi img {
        height: 350px;
    }
    .logo{
    position: relative;
    left: 40px;
    top: 20px;  
}
.item {
    position: relative;
    left: -380px;
    bottom: -40px;
}
 .imgdance > img { 
        width: 250px;
        position: absolute;
        top: 220px;
        right: 150px;
    } 
    .qm,.para2 {
        position: relative;
        left: -250px;
        top: 115px;
    }
    .para2 {
        position: relative;
        top: 100px;
    }
    .qm svg{
        width: 15px;
    }
}
@media screen and (max-width:500px){
    .icons {
        margin: 0 2px;
        position: relative;
        left: 1100px;
        top: -25px;
    }
    .navitems{
     position: relative;
     right: 750px;
     top: 40px;
    }
    .btn1{
        position: relative;
        top: 120px;
        right: 620px;
       }  
    .c1  {
        font-size: 55px;
        position: relative;
        bottom: 90px;
        left: -470px;
    } 
    .c2 {
        font-size: 55px;
        position: relative;
        bottom: 100px;
        left: -350px;
    }
    .para {
        font-size: 30px;
        position: relative;
        bottom: 85px;
        left: -200px;
    }
    .items ul .forline {
        border-top: 0px solid #a9b0b1;}
    .bi {
       display: none;
    } 
    .logo{
   display: none;
}
.item {
    position: relative;
    left: -380px;
    bottom: 20px;
}

 .imgdance > img { 
        width: 250px;
        position: absolute;
        top: 220px;
        right: 250px;
    } 
    .qm,.para2 {
        position: relative;
        left: -400px;
        top: 90px;
    }
}
